<div class="contenedor">
  <h1><span>Mis</span><br><hr>JUEGOS</h1>
  <div class="contenedorJuegos">
    <div class="tarjeta">
      <img src="../../../../../assets/juegos/ahorcado.png" routerLink="/home/juegos/ahorcado" alt="" class="img">
      <h2 class="underlineHover">AHORCADO</h2>
    </div>

    <div class="tarjeta">
      <img src="../../../../../assets/juegos/mayormenor.png" routerLink="/home/juegos/ahorcado" alt="" class="img">
      <h2 class="underlineHover">MAYOR O MENOR</h2>
    </div>

    <div class="tarjeta">
      <img src="../../../../../assets/juegos/preguntas.png" routerLink="/home/juegos/ahorcado" alt="" class="img">
      <h2 class="underlineHover">PREGUNTADOS</h2>
    </div>

    <div class="tarjeta">
      <img src="../../../../../assets/juegos/ahorcado.png" routerLink="/home/juegos/ahorcado" alt="" class="img">
      <h2 class="underlineHover">MI JUEGO</h2>
    </div>

  </div>
</div>
