* {
    transition: all 0.3s;
  }

  body {
    background: cadetblue;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
  }

  .contenedor {
    width: 98vw;
    height: 40vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titulo{
    text-align: center;
    margin-top: 50px;
    color: gold;
    font: 4em "Press Start 2P";
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }

  .encabezado {
    position: relative;
    background: snow;
    min-width: 50%;
    width: 70%;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    padding: 10px;
  }

  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
  }

  .btn {
    background: snow;
    width: 60%;
    max-width: 80%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }

  .puntaje{
    padding:10px;
    color:antiquewhite;
  }

  .containerInfo{
    width: 60%;
    display: flex;
    background-color: rebeccapurple;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
  }

  .info{
    text-align: center;
    margin-top: 25px;
    color: gold;
    font: 1em "Press Start 2P";
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }

  .lista{
    margin: 20px 0;
    text-align: initial;
    color: darkblue;
  }

  li{
    margin: 0 40px;
  }

  .guardar{
    cursor: pointer;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 25px;
    color: gold;
  }

  .guardar:hover{
    background-color: gold;
    color: rebeccapurple;
  }
