<div class="container">
  <div class="wrapper fadeInDown">
      <div id="formContent">

        <div class="botones">
            <h2 class="inactive underlineHover" routerLink="/login"> Iniciar Sesion </h2>
            <h2 class="active" >Registrarse </h2>
        </div>

        <div class="fadeIn first">
          <img src="../../../assets/amor.png" id="icon" alt="User Icon" />
        </div>

        <form [formGroup]="form" class="form" (ngSubmit)="enviarForm()">

              <!-- CORREO -->
              <div class="form-floating mt-3">
                <input type="email" class="form-control" id="floatingCorreo" placeholder="Correo electrónico" formControlName="correo">
              </div>
              <small *ngIf="correo?.hasError('email')" class="invalid">
                <i class="bi bi-exclamation-octagon"></i> Correo inválido
              </small>

            <!-- CLAVE -->
              <div class="form-floating mt-3">
                <input type="password" class="form-control" id="floatingClave" placeholder="Clave" formControlName="clave">
              </div>
              <small *ngIf="clave?.hasError('minlength')" class="invalid">
                <i class="bi bi-exclamation-octagon"></i> minímo {{clave?.getError('minlength')?.requiredLength}} caracteres
              </small>

            <!-- REPETIR CLAVE -->
              <div class="form-floating mt-3">
                <input type="password" class="form-control" id="floatingRepiteClave" placeholder="Repetir Clave"
                  formControlName="repiteClave">
              </div>
              <small *ngIf="repiteClave?.hasError('noCoincide')" class="invalid">
                <i class="bi bi-exclamation-octagon"></i> No coinciden las claves
              </small>

          <div class="row">
            <div class="col-md-12 divRegistro">
              <button type="submit" class="btn btn-outline-info py-3 mt-3 botonRegistro" [disabled]="!form.valid">
                <strong>Registrarse</strong>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
</div>
