<main class="container py-5">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div *ngIf="cartaActual" class="d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <div class="maso">

            <div *ngIf="!mostrar" class="carta">
              <div class="carta__cara carta__cara--detras">
                <img [src]="cartaParaAdivinar.src">
              </div>

              <div class="carta__cara">
                <img [src]="cartaReversa">
              </div>
            </div>

            <div *ngIf="mostrar" >
              <div class="carta__cara">
                <img [src]="cartaParaAdivinar.src">
              </div>
            </div>

          </div>


        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <div class="maso">
            <img [src]="cartaActual.src">
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group my-4 grow-2 masMenos">
      <button type="button" class="btn menos" (click)="adivinar('menor')">-</button>
      <button type="button" class="btn mas" (click)="adivinar('mayor')">+</button>
    </div>

    <div class="containerInfo">
      <div class="text-center">
        <h3 class="info">Información del juego</h3>
        <ul class="d-inline-block ms-1 lista">
          <li class="d-inline-block ms-1">Rondas: {{rondas}}</li>
          <li class="d-inline-block ms-1">Aciertos: {{aciertos}}</li>
          <li class="d-inline-block ms-1">Salteadas: {{salteadas}}</li>
        </ul>
      </div>

      <div class="botones">
      <button type="button" *ngIf="rondas>0" class="btn boton" (click)="empezar()">Siguiente</button>
      <button type="button" class="btn boton" (click)="saltear()">Saltear ronda</button>
      <button type="button" class="btn boton" (click)="guardarPuntuacion()">Terminar</button>

      </div>
      <p class="alert">TRUCO: si se pasa el mouse sobre la carta, se puede ver!.</p>
    </div>
  </div>

</main>
