// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// *{
//   font-family: 'Press Start 2P';
// }

a{

  color: black;
  font-size: large;
}

.dropdown-menu {

  background-color: #507fffa8;

}

.logout{
  cursor: pointer;
}
